{% extends 'base.html.twig' %}

{% block title %}Changer mon mot de passe - Pedibus Jambus
{% endblock %}

{% block body %}
	<h1>Changer mon mot de passe</h1>

	{{ form_start(form) }}
	{{ form_row(form.oldPassword) }}
	{{ form_row(form.newPassword) }}
	{{ form_row(form.confirmPassword) }}

	<button class="btn btn-primary">Modifier</button>
	{{ form_end(form) }}
{% endblock %}
